{% extends 'base.html.twig' %}

{%  block body %}
<div class="row admin-grid">
    <div onclick="window.location='{{ path("app_product_admin_new") }}'" class="btn col-md-6 btn-primary d-flex"><p class="m-auto h2">Create product</p></div>
    <div onclick="window.location='{{ path("app_product_admin_index") }}'" class="btn col-md-6 btn-info d-flex"><p class="m-auto h2">See products</p></div>
</div>
{% endblock %}