{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    {{ include('productAdmin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_admin_index') }}">back to list</a>

    {{ include('productAdmin/_delete_form.html.twig') }}
{% endblock %}
