{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    {{ include('productAdmin/_form.html.twig') }}

    <a href="{{ path('app_product_admin_index') }}">back to list</a>
{% endblock %}
