{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr onclick="window.location='{{ path('app_product_show', {'id': product.id}) }}'">
                        <td>{{ product }}</td>
                        <td>{{ product.productPrice }}</td>
                        <td>{{ product.productType }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
