{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="row show-product">
        <div class="col-5 d-flex">
            <img class="my-auto img-fluid" src="{{ asset('images/default_shoe.jpg') }}">
        </div>
        <div class="col-7">
            <table class="table">
            <tbody>
                <tr>
                    <th>Price</th>
                    <td>{{ product.productPrice }}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>
                    <ul>
                    {% for tag in product.tags %}
                        <li>{{ tag }}</li>
                    {% else %}
                        <li>no tags assigned</li>
                    {% endfor %}
                    </ul>
                    </td>
                </tr>
                <tr>
                    <th>Available sizes</th>
                    <td>
                    <ul>
                    {% for option in product.options %}
                        <li>{{ option }}</li>
                    {% else %}
                        <li>no sizes available</li>
                    {% endfor %}
                    </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
