@import "~bootstrap/scss/bootstrap";

html, body{
    min-height: 100vh;
}

.admin-grid{
    min-height: 50vh;
    >div{
        min-height: 100%;
    }
}

[onclick]{
    cursor: pointer;
}
.show-product {
    th {
        width: 10em;
    }
    td > ul {
        columns: 5em;
        column-gap: 5em;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }
}